@charset "UTF-8";

.wrapper{min-height:100%;}
.wrap{margin:0 30px;}

.header{position:fixed;top:0;left:0;right:0;height:70px;border-bottom:1px solid #B1B8BE;box-shadow:0 8px 12px rgba(0, 0, 0, 0.08);color:#1E2124;background:#fff;z-index:2;box-sizing:border-box;}
.header .wrap{display:flex;align-items:center;height:100%;}

.header h1{display:block;}
.header h1 a{display:block;width:158px;}
.header h1 img{display:block;max-width:100%}

.header .gnb {display:flex;height:100%;margin-left:50px;}
.header .gnb > li{height:100%;}
.header .gnb > li > a{position:relative;display:flex;align-items:center;padding:0 30px;height:100%;font-size:18px;font-weight:700;text-align:center;}
.header .gnb > li > a::after{content:'';display:block;width:0;position:absolute;bottom:-1px;left:50%;border-bottom:2px solid #5349C0;transition:all .3s;}
.header .gnb > li > a:hover,
.header .gnb > li > a:focus,
.header .gnb > li.active > a {background-color:#F2F4FE;color:#5349C0}
.header .gnb > li > a:hover::after,
.header .gnb > li > a:focus::after,
.header .gnb > li.active > a::after{width:100%;left:0;right:0;}

.header .userBox{position:relative;margin-left:auto;}
.header .userBox .btnUser{display:block;position:relative;border:0 none;padding-left:22px;padding-right:26px;background:url(../img/ico_user.svg)no-repeat left center;font-size:14px;font-weight:500;line-height:30px;cursor:pointer;}
.header .userBox .btnUser::after{content:'';display:block;width:20px;height:20px;background:url(../img/ico_user_arr.svg)no-repeat;position:absolute;right:0;top:50%;margin-top:-10px;}
.header .userBox .dropDown{display:none;position:absolute;top:30px;left:0;background:#fff;border:1px solid #222;width:100%;padding:5px;box-sizing:border-box;box-shadow:12px 8px 12px rgba(0, 0, 0, 0.08);}
.header .userBox .dropDown > li > a{display:block;font-size:14px;line-height:25px;text-align:center;}
.header .userBox.active .dropDown{display:block;}

.header .searchBox{display:flex;width:250px;position:relative;margin-left:20px}
.header .searchBox input{width:100%;height:33px;padding:0 35px 0 25px;background-color:#ECF2FE;border:1px solid #D8E5FD;border-radius:40px;}
.header .searchBox .btnSearch{position:absolute;right:15px;top:50%;margin-top:-10px;display:block;width:20px;height:20px;border:0 none;background:url(../img/ico_h_sch.svg)no-repeat center;text-indent:-9999px;}

.container{position:absolute;top:70px;left:0;right:0;bottom:0;max-height:calc(100vh - 70px);padding:20px 40px;background:#ffffff;overflow-y:scroll;transition:left .3s;}

.side{position:fixed;top:70px;left:-230px;bottom:0;width:230px;transition:left .3s;font-size:20px;font-weight:700;text-align:center;border-right:1px solid #B1B8BE;background:#fff;box-shadow:8px 0 12px rgba(0, 0, 0, 0.08);box-sizing:border-box;z-index:1000;}
.btnSlide{display:block;width:12px;height:96px;position:absolute;right:0;top:380px;background-color:#526980;border:0 none;border-radius:0 8px 8px 0;text-indent:-999px;transform:translateX(100%);cursor:pointer}
.btnSlide::after{content:'';display:block;width:6px;height:10px;position:absolute;top:50%;left:50%;margin-top:-5px;margin-left:-3px;background:url(../img/ico_side_arr.svg)no-repeat center;transform:rotate(180deg);}

.side h2{padding:20px;font-size:20px;font-weight:600;color:#fff;background:url(../img/bg_menu.png)no-repeat center / cover;}
.side .side_menu {display:flex;flex-direction:column;box-sizing:border-box;height:100%;}
.side .gnb {display:flex;flex-direction:column;gap:16px;-webkit-gap:16px;padding:25px 16px 16px;text-align:left;flex:0 1 auto;overflow-y:auto;}
.side .gnb::-webkit-scrollbar{width:6px;background:#F2F3F5;border-radius:8px;}
.side .gnb::-webkit-scrollbar-thumb{background:#8A949E;border-radius:8px;}
.side .gnb > li{display:flex;flex-direction:column;gap:8px;-webkit-gap:8px;}
.side .gnb > li > a{position:relative;display:block;padding-left:12px;font-size:15px;font-weight:600;line-height:22px;}
.side .gnb > li > a::before{content:'';display:block;width:6px;height:6px;position:absolute;left:0;top:8px;background:url(../img/ico_gnb_dep2.svg)no-repeat center;}

.side .gnb > li > ul{display:none;flex-direction:column;gap:10px;-webkit-gap:10px;padding:15px 17px;background:#F4F5F6;}
.side .gnb > li > ul > li > a{position:relative;display:block;padding-left:15px;font-size:14px;font-weight:400;line-height:20px;color:#464c53;}
.side .gnb > li > ul > li > a::before{content:'-';display:block;position:absolute;left:0;top:0;}

.side .gnb > li a:hover,
.side .gnb > li a:focus,
.side .gnb > li a.on {color:#5349C0 !important;font-weight:600;}

.side .gnb > li.hasChild > a::after{content:'';display:block;width:15px;height:15px;position:absolute;right:0;top:4px;background:url(../img/ico_gnb_collapsed.svg)no-repeat center;}
.side .gnb > li.hasChild.active > a::after{background-image:url(../img/ico_gnb_expanded.svg);}
.side .gnb > li.hasChild.active > ul{display:flex;}

.wrapper.showMenu .side{left:0;}
.wrapper.showMenu .btnSlide::after{transform:rotate(0);}
.wrapper.showMenu .container {left:230px;}

.contents{width:100%;}

.lt{}
.rt{margin-left:auto;}
.rt .txtInfo {text-align:right;}
.horz {display:flex;align-items:center;gap:20px;}

.pgtBox {display:flex;align-items:flex-end;margin-bottom:20px;}
.pgtBox h2{padding-left:20px;background:url(../img/tit_bull01.svg)no-repeat left center;font-size:20px;font-weight:700;}

.breadcrumb{display:flex;align-items:center;height:19px;margin-left:20px;}
.breadcrumb > li + li{display:flex;align-items:center;}
.breadcrumb > li + li::before{content:'/';display:block;margin:0 6px;color:#B1B8BE;}
.breadcrumb > li > a{display:block;font-size:14px;color:#6D7882;}
.breadcrumb > li.home > a{width:20px;height:20px; background:url(../img/ico_home.svg) no-repeat center; text-indent:-9999px;}

/* 타이틀 그룹 */
.titBox {display:flex;align-items:flex-end;width:100%;margin-bottom:10px;}
.titBox h3,
.titBox h4 {padding-left:20px;background:url(../img/tit_bull02.svg) no-repeat left center;font-size:17px;font-weight:700;line-height:36px;}
.titBox .lt {display:flex;gap:10px;align-items:center;}
.titDisc  {margin-bottom:6px;line-height:1.5;}
.titDisc.txtBt::after {top:8px;}

/* 250718 */
.side .gnb > li > ul > li > ul {display:none;flex-direction:column;gap:10px;-webkit-gap:10px;margin:8px -17px 0; padding:15px 34px;background:#E9ECEF;}
.side .gnb > li > ul > li > ul > li > a {position:relative; font-size:14px; font-weight:400; line-height:1.5; color:#464C53;}
.side .gnb > li > ul > li > ul > li > a::before {position:absolute; top:6px; left:-10px; content:' '; display:block; width:3px; height:3px; background:#BBBEC0; border-radius:50px;}
.side .gnb > li > ul >  li.hasChild > a::after {content:''; display:block; width:14px; height:14px; position:absolute; right:0; top:3px; background-image:url(../img/ico_select_arr.svg); transition:0.4s all;}
.side .gnb > li > ul >  li.hasChild.active > a {color:#5349C0;font-weight:600;}
.side .gnb > li > ul >  li.hasChild.active > a::after {transform:rotate(-180deg); transition:0.4s all;}
.side .gnb > li > ul >  li.hasChild.active > ul {display:flex;}

/* 25.07.24 텍스트 common */
strong {font-weight:700;}

/* txtLi */
.txtLi {margin-top:10px;font-size:14px;line-height:1.5;color:#464c53;}
.txtLi:first-child {margin-top:0;}
.txtLi li {margin-bottom:2px;line-height:inherit;}
.txtLi li:last-child {margin-bottom:0;}
.txtLi li + li.btn-wrap {margin-top:5px;}
.txtLi + .txtLi {margin-top:10px;}

.txtLi .txtBt {padding-left:8px;}
.txtLi .txtBt::after {width:3px;height:3px;top:8px;background-color:#A8B6C3;}
.txtLi .txtInfo ~ .txtBt {padding-left:24px;}
.txtLi .txtInfo ~ .txtBt::after {left:17px;}

.txtBt {position:relative;padding-left:12px;}/* bullet */
.txtBt::after {content:'';display:block;position:absolute;top:5px;left:0;width:5px;height:5px;border-radius:50%;background:#6d4fff;}
.txtInfo {padding-left:18px;font-size:13px;line-height:1.5;font-weight:500;color:#5A5A5B;word-break:keep-all;background:url(../img/ico_bullet.svg) no-repeat 0 3px;}
.txtInfo.lg {font-size:15px;line-height:24px;background-position:0 6px;}
.txtInfo.txtRed {background-image:url(../img/ico_bullet_red.svg);}
.txtLink {font-weight:500;text-decoration:underline;text-underline-position:under;cursor:pointer;}
.txtUnderline {display:inline-block !important;color:#6D7882 !important;text-decoration:underline;text-underline-position:under;cursor:pointer;vertical-align:middle;}

.txtLg {font-size:16px;}

/* 텍스트 형식 버튼 */
.txtBtn {border:0 none;font-size:inherit;font-weight:500;text-decoration:underline;text-underline-position:under;background:none;cursor:pointer;}
.txtPop {border:0 none;font-size:inherit;line-height:inherit;color:#464C53;background:none;}
.txtPop::after {content:'';display:inline-block;width:20px;height:20px;margin-left:4px;background:url(../img/ico_pop.svg) no-repeat center;vertical-align:-4px;}

/* txt color definition */
.txtPt {color:#3B80FF !important;}/* primary */
.txtSec {color:#4f9097 !important;}/* secondary */
.txtGray {color:#8A949E !important;}
.txtRed {color:#D63D4A !important;}
.txtDark {color:#1E2124 !important;}

/* 그룹핑 */
.cntBox {margin-top:40px;}
.cntBox:first-child {margin-top:0;}
.pgtBox + .cntBox {margin-top:0;}
.schBox + .cntBox {margin-top:24px;}