@charset "UTF-8";

.wrapper{position:relative;min-width:1912px;min-height:100%;}
.wrap{margin:0 30px;}

.header{position:absolute;top:0;left:0;width:100%;height:70px;border-bottom:1px solid #B1B8BE;box-shadow:0 8px 12px rgba(0, 0, 0, 0.08);color:#1E2124;background:#fff;z-index:2;box-sizing:border-box;}
.header .wrap{display:flex;align-items:center;gap:10px;height:100%;}

.header h1{display:block;}
.header h1 a{display:block;width:158px;}
.header h1 img{display:block;max-width:100%}

.header .gnb {flex:1;display:flex;box-sizing:border-box;max-width:750px;height:50px;margin-left:90px;padding:3px 3px 3px 34px;border-radius:4px;background-color:#513EAD;}
.header .gnb > li {flex:1;position:relative;height:100%;margin-right:44px;}
.header .gnb > li:last-child {margin-right:0;}
.header .gnb > li.tit {flex:0 0 auto;display:flex;align-items:center;margin-right:35px;padding-top:2px;font-size:15px;font-weight:500;color:rgba(255,255,255,0.5);}

.header .gnb > li > a {position:relative;display:flex;align-items:center;justify-content:center;border-radius:2px;height:100%;font-size:22px;font-weight:800;text-align:center;color:rgba(255,255,255,0.5);transition:color 0.3s,background 0.3s;}
.header .gnb > li > a:hover,
.header .gnb > li > a:focus {color:rgba(255,255,255,1);}
.header .gnb > li.active > a {color:rgba(255,255,255,1);background-color:#6D4FFF;}
.header .gnb > li + li::after {content:'';display:block;position:absolute;right:100%;top:50%;margin:-5px 17px 0 0;width:10px;height:10px;background:url(../img/ico_gnb_arr.svg) no-repeat center;}
.header .gnb > li.tit + li::after {width:1px;height:10px;background:rgba(255,255,255,0.5);}

.header .subGnb {display:flex;height:100%;margin-left:20px;}
.header .subGnb > li {display:flex;align-items:center;}
.header .subGnb > li  + li::before {content:'';display:block;width:1px;height:10px;background-color:#D9D9D9;}
.header .subGnb > li > a {display:flex;position:absolute;align-items:center;position:relative;height:100%;padding:0 24px;font-size:17px;font-weight:500;color:#1E2124;transition:all 0.2s ease-in-out;}
.header .subGnb > li > a::after {content:'';width:0;height:2px;position:absolute;left:50%;bottom:0;transform:translateX(-50%);background-color:#524C91;transition:all 0.2s ease-in-out;}
.header .subGnb > li > a:hover,
.header .subGnb > li > a:focus {font-weight:700;color:#5349C0;background-color:#F2F4FE;}
.header .subGnb > li > a:hover::after,
.header .subGnb > li > a:focus::after {width:100%;}


.header .btn-sitemap {margin-right:20px;}
.header .userMenu {display:flex;align-items:center;margin-left:auto;}
.header .userBox{position:relative;}
.header .userBox .btnUser{display:block;position:relative;border:0 none;padding-left:22px;padding-right:26px;background:url(../img/ico_user.svg)no-repeat left center;font-size:14px;font-weight:500;line-height:30px;cursor:pointer;}
.header .userBox .btnUser::after{content:'';display:block;width:20px;height:20px;background:url(../img/ico_user_arr.svg)no-repeat;position:absolute;right:0;top:50%;margin-top:-10px;}
.header .userBox .dropDown{display:none;position:absolute;top:30px;left:0;background:#fff;border:1px solid #222;width:100%;padding:5px;box-sizing:border-box;box-shadow:12px 8px 12px rgba(0, 0, 0, 0.08);}
.header .userBox .dropDown > li > a{display:block;font-size:14px;line-height:25px;text-align:center;}
.header .userBox.active .dropDown{display:block;}

.header .searchBox {display:flex;width:250px;height:33px;position:relative;margin-left:20px}
.header .searchBox input {position:absolute;top:0;right:0;width:100%;height:33px;padding:0 35px 0 25px;background-color:#ECF2FE;border:1px solid #D8E5FD;border-radius:40px;transition:width 0.3s;}
.header .searchBox input:focus {width:400px;}
.header .searchBox .btnSearch {position:absolute;right:15px;top:50%;margin-top:-10px;display:block;width:20px;height:20px;border:0 none;background:url(../img/ico_h_sch.svg)no-repeat center;text-indent:-9999px;}

.container{position:absolute;top:70px;left:0;right:0;bottom:0;max-height:calc(100vh - 70px);padding:20px 40px;background:#ffffff;overflow-y:scroll;transition:left .3s;}

.side{position:fixed;top:70px;left:-230px;bottom:0;width:230px;transition:left .3s;font-size:20px;font-weight:700;text-align:center;border-right:1px solid #B1B8BE;background:#fff;box-shadow:8px 0 12px rgba(0, 0, 0, 0.08);box-sizing:border-box;z-index:1000;}
.btnSlide{display:block;width:12px;height:96px;position:absolute;right:0;top:380px;background-color:#526980;border:0 none;border-radius:0 8px 8px 0;text-indent:-999px;transform:translateX(100%);cursor:pointer}
.btnSlide::after{content:'';display:block;width:6px;height:10px;position:absolute;top:50%;left:50%;margin-top:-5px;margin-left:-3px;background:url(../img/ico_side_arr.svg)no-repeat center;transform:rotate(180deg);}

.side h2{padding:20px;font-size:20px;font-weight:600;color:#fff;background:url(../img/bg_menu.png)no-repeat center / cover;}
.side .side_menu {display:flex;flex-direction:column;box-sizing:border-box;gap:10px;height:100%;}
.side .gnb {display:flex;flex-direction:column;gap:16px;-webkit-gap:16px;padding:5px 16px;text-align:left;flex:0 1 auto;overflow-y:auto;}
.side .gnb::-webkit-scrollbar{width:6px;background:#F2F3F5;border-radius:8px;}
.side .gnb::-webkit-scrollbar-thumb{background:#8A949E;border-radius:8px;}
.side .gnb > li{display:flex;flex-direction:column;gap:8px;-webkit-gap:8px;}
.side .gnb > li > a{position:relative;display:block;padding-left:12px;font-size:15px;font-weight:600;line-height:22px;}
.side .gnb > li > a::before{content:'';display:block;width:6px;height:6px;position:absolute;left:0;top:8px;background:url(../img/ico_gnb_dep2.svg)no-repeat center;}

.side .gnb > li > ul{display:none;flex-direction:column;gap:10px;-webkit-gap:10px;padding:15px 17px;background:#F4F5F6;}
.side .gnb > li > ul > li > a{position:relative;display:block;padding-left:15px;font-size:14px;font-weight:400;line-height:20px;color:#464c53;}
.side .gnb > li > ul > li > a::before{content:'-';display:block;position:absolute;left:0;top:0;}

.side .gnb > li a:hover,
.side .gnb > li a:focus,
.side .gnb > li a.on {color:#5349C0 !important;font-weight:600;}

.side .gnb > li.hasChild > a::after{content:'';display:block;width:15px;height:15px;position:absolute;right:0;top:4px;background:url(../img/ico_gnb_collapsed.svg)no-repeat center;}
.side .gnb > li.hasChild.active > a::after{background-image:url(../img/ico_gnb_expanded.svg);}
.side .gnb > li.hasChild.active > ul{display:flex;}

.side .pinBox {display:flex;align-items:center;justify-content:flex-end;padding:0 15px;}
.side .pinBox .pinBar {display:flex;align-items:center;gap:10px;position:relative;border-radius:4px;cursor:pointer;}
.side .pinBox .pinBar .name {display:block;font-size:13px;font-weight:500;color:#6d7882;line-height:1.5;white-space:nowrap;}
.side .pinBox .pinBar .switch {display:block;position:relative;width:25px;height:10px;border-radius:8px;background-color:#B7C6D5;}
.side .pinBox .pinBar .switch::after {content:'';display:block;position:absolute;left:-3px;top:-3px;width:16px;height:16px;border-radius:50%;background-color:#526980;transition:all 0.2s;}
.side .pinBox .pinBar input[type="checkbox"]:checked + .switch::after {left:12px;background-color:#6D4FFF;}
.side .pinBox .pinBar:has(:focus-visible) {outline: 2px dashed #6D4FFF;}

.side-quick {margin-top:auto;padding:0 16px 16px;}
.side-quick li + li {margin-top:-1px;}
.side-quick a {display:block;position:relative;padding:0 0 0 30px;border:1px solid #E2E6EA;height:30px;font-size:13px;font-weight:13px;line-height:28px;text-align:left;background-repeat:no-repeat;background-position:12px center;}
.side-quick a::after {content:'';display:block;position:absolute;top:11px;right:15px;width:4px;height:6px;background:url(../img/ico_sq_arr.svg) no-repeat center;}
.side-quick a.site-reg {background-image:url(../img/ico_sq_reg.svg);}
.side-quick a.site-help {background-image:url(../img/ico_sq_help.svg);}
.side-quick a.site-mng {background-image:url(../img/ico_sq_mng.svg);}
.side-quick a.site-stats {background-image:url(../img/ico_sq_stats.svg);}

.wrapper.showMenu .side {left:0;}
.wrapper.showMenu .btnSlide::after{transform:rotate(0);}
.wrapper.showMenu .container {left:230px;}

.contents{width:100%;}

.lt{}
.rt{margin-left:auto;}
.rt .txtInfo {text-align:right;}
.horz {display:flex;align-items:center;gap:20px;}

.pgtBox {display:flex;align-items:flex-end;margin-bottom:20px;}
.pgtBox h2{padding-left:20px;background:url(../img/tit_bull01.svg)no-repeat left center;font-size:20px;font-weight:700;}

.breadcrumb{display:flex;align-items:center;height:19px;margin-left:20px;}
.breadcrumb > li + li{display:flex;align-items:center;}
.breadcrumb > li + li::before{content:'/';display:block;margin:0 6px;color:#B1B8BE;}
.breadcrumb > li > a,
.breadcrumb > li > span {display:block;font-size:14px;color:#6D7882;}
.breadcrumb > li.home > a,
.breadcrumb > li.home > span {width:20px;height:20px; background:url(../img/ico_home.svg) no-repeat center; text-indent:-9999px;}

/* 타이틀 그룹 */
.titBox {display:flex;align-items:flex-end;width:100%;margin-bottom:10px;}
.titBox h3,
.titBox h4 {padding-left:20px;background:url(../img/tit_bull02.svg) no-repeat left center;font-size:17px;font-weight:700;line-height:36px;}
.titBox .required::after {content:'*';margin-left:4px;font-weight:400;color:#D63D4A;}
.titBox .lt,
.titBox .rt {display:flex;gap:10px;align-items:center;}
.titBox .selectBox {flex-shrink:0;}
.titBox .rdoBox {flex-wrap:nowrap;column-gap:10px;}
.titBox.ty02 {margin-top:10px;}

.botBox {display:flex;align-items:flex-start;width:100%;padding-top:10px;}
.titDisc  {margin-bottom:6px;line-height:1.5;}
.titDisc.txtBt::after {top:8px;}

/* 250718 */
.side .gnb > li > ul > li > ul {display:none;flex-direction:column;gap:10px;-webkit-gap:10px;margin:8px -17px 0; padding:15px 34px;background:#E9ECEF;}
.side .gnb > li > ul > li > ul > li > a {position:relative; font-size:14px; font-weight:400; line-height:1.5; color:#464C53;}
.side .gnb > li > ul > li > ul > li > a::before {position:absolute; top:6px; left:-10px; content:' '; display:block; width:3px; height:3px; background:#BBBEC0; border-radius:50px;}
.side .gnb > li > ul >  li.hasChild > a::after {content:''; display:block; width:14px; height:14px; position:absolute; right:0; top:3px; background-image:url(../img/ico_select_arr.svg); transition:0.4s all;}
.side .gnb > li > ul >  li.hasChild.active > a {color:#5349C0;font-weight:600;}
.side .gnb > li > ul >  li.hasChild.active > a::after {transform:rotate(-180deg); transition:0.4s all;}
.side .gnb > li > ul >  li.hasChild.active > ul {display:flex;}

/* 25.07.24 텍스트 common */
strong {font-weight:700;}

/* txtLi */
.txtLi {margin-top:10px;font-size:14px;line-height:1.5;color:#464c53;}
.txtLi:first-child {margin-top:0;}
.txtLi li {margin-bottom:2px;line-height:inherit;}
.txtLi li:last-child {margin-bottom:0;}
.txtLi li + li.btn-wrap {margin-top:5px;}
.txtLi + .txtLi {margin-top:10px;}

.txtLi .txtBt {padding-left:8px;}
.txtLi .txtBt::after {width:3px;height:3px;top:8px;background-color:#A8B6C3;}
.txtLi .txtInfo ~ .txtBt {padding-left:24px;}
.txtLi .txtInfo ~ .txtBt::after {left:17px;}

.txtBt {position:relative;padding-left:12px;}/* bullet */
.txtBt::after {content:'';display:block;position:absolute;top:5px;left:0;width:5px;height:5px;border-radius:50%;background:#6d4fff;}
.txtInfo {padding-left:18px;font-size:13px;line-height:1.5;font-weight:500;color:#5A5A5B;word-break:keep-all;background:url(../img/ico_bullet.svg) no-repeat 0 3px;}
.txtInfo.lg {font-size:15px;line-height:24px;background-position:0 6px;}
.txtInfo.txtRed {background-image:url(../img/ico_bullet_red.svg);}
.txtLink {font-weight:500;text-decoration:underline;text-underline-position:under;cursor:pointer;}
/* 텍스트컬러 변경 필요한 경우 */
.txtUnderline {display:inline-block !important;color:#6D7882 !important;text-decoration:underline;text-underline-position:under;cursor:pointer;vertical-align:middle;}
/* 라인만 필요한경우 */
.txtLine {display:inline-block !important;color:inherit;text-decoration:underline;text-underline-position:under;cursor:pointer;vertical-align:middle;}

.txtLg {font-size:16px;}
.txtInfo.txtLg {background-position:0 6px;}
.txtLg.txtBt::after,
.txtLg > .txtBt::after {top:10px;}

.txtHeading {margin-bottom:12px;font-size:19px;text-align:center;line-height:1.5;font-weight:700;}

/* 텍스트 형식 버튼 */
.txtBtn {border:0 none;font-size:inherit;font-weight:500;text-decoration:underline;text-underline-position:under;background:none;cursor:pointer;}
.txtPop {border:0 none;font-size:inherit;line-height:inherit;color:#464C53;background:none;}
.txtPop::after {content:'';display:inline-block;width:20px;height:20px;margin-left:4px;background:url(../img/ico_pop.svg) no-repeat center;vertical-align:-4px;}

/* txt color definition */
.txtPt {color:#3B80FF !important;}/* primary */
.txtSec {color:#4f9097 !important;}/* secondary */
.txtGray {color:#8A949E !important;}
.txtRed {color:#D63D4A !important;}
.txtDark {color:#1E2124 !important;}
.txtPurple {color:#5349C0 !important;}

/* 그룹핑 */
.cntBox {margin-top:40px;}
.cntBox:first-child {margin-top:0;}
.pgtBox + .cntBox {margin-top:0;}
.schBox + .cntBox {margin-top:24px;}
.titBox + .cntBox {margin-top:0;}

/* sitemap */
.sitemap {display:none;}
.sitemap .dim {display:block;}
.sitemap .sitemap-inner {display:flex;align-items:center;justify-content:center;flex-direction:column;position:absolute;left:50%;top:50%;width:1200px;height:820px;max-width:90%;max-height:90%;padding:0 18px 28px 28px;border-radius:6px;background:#fff;transform:translate(-50%, -50%);box-shadow:8px 8px 12px rgba(0,0,0,0.08);}
.sitemap .sitemap-inner h3 {padding:40px 0 24px;font-size:24px;line-height:1.5;font-weight:700;text-align:center;}
.sitemap .sitemap-inner .btn-close-menu {position:absolute;right:18px;top:12px;}
.sitemap .sitemap-li {overflow:hidden;overflow-y:auto;flex:1 1 auto;display:grid;gap:40px 20px;grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));width:100%;padding-right:10px;}
.sitemap .sitemap-li > li > a {display:flex;align-items:center;justify-content:center;height:48px;padding:0 10px;border-radius:8px;background:#f5f3ff;font-size:18px;font-weight:600;line-height:1.5;color:#513EAD;}
.sitemap .sitemap-li > li > ul {padding:4px 12px 0;}
.sitemap .sitemap-li > li > ul > li {padding:12px 0;}
.sitemap .sitemap-li > li > ul > li + li {border-top:1px solid #E2E6EA;}
.sitemap .sitemap-li > li > ul > li:has(ul) + li {border-top:0 none;}
.sitemap .sitemap-li > li > ul > li a {display:block;}
.sitemap .sitemap-li > li > ul > li > a {position:relative;padding-left:12px;font-size:16px;font-weight:500;line-height:1.5;color:#464c53;}
.sitemap .sitemap-li > li > ul > li > a::after {content:'';display:block;position:absolute;top:10px;left:0;width:4px;height:4px;border-radius:50%;background-color:#6d7882;}
.sitemap .sitemap-li > li > ul > li > a:hover,
.sitemap .sitemap-li > li > ul > li > a:focus {color:#5349C0;}
.sitemap .sitemap-li > li > ul > li > ul {margin-top:12px;padding:12px 12px 0;border-top:1px solid #E2E6EA;}
.sitemap .sitemap-li > li > ul > li > ul > li > a {font-size:15px;line-height:1.5;color:#6d7882;}
.sitemap .sitemap-li > li > ul > li > ul > li > a:hover,
.sitemap .sitemap-li > li > ul > li > ul > li > a:focus {color:#5349C0;}
.sitemap .sitemap-li > li > ul > li > ul > li + li {margin-top:4px;}