@charset "UTF-8";


input:where([type="text"], [type="tel"]) {height: 30px; padding: 3px 9px; font-size: 14px; font-weight: 500; line-height: 1.5; color: #464C53; background: #fff; border: 1px solid #B1B8BE; border-radius: 4px;}
input::placeholder {font-size: 12px; color: #8A949E;}
input[type="text"].pickr {width: 100%; padding-right: 28px; background: #fff url(../img/ico_pickr.svg) no-repeat center right 7px;}
input[type="text"]:disabled {background: #E6E8EA;}
textarea {display: block; box-sizing:border-box; width: 100%; height: 80px; padding: 4px 9px; font-family: "Pretendard GOV"; font-size: 14px; font-weight: 500; line-height: 1.5; color: #1E2124; border: 1px solid #B1B8BE; border-radius: 4px; resize: none;}
textarea:disabled {background: #E6E8EA;}
textarea::placeholder {color: #8A949E;}
select {width: 100%; height: 30px; padding: 4px 30px 4px 9px; font-weight: 500; background: #fff; border: none; border-radius: 4px; appearance: none; -webkit-appearance: none; -moz-appearance: none;}

/* scrollbar */
*::-webkit-scrollbar {width: 6px;}
*::-webkit-scrollbar-track {background-color: #E9E9E9;}
*::-webkit-scrollbar-thumb {background-color: #8A949E; border-radius: 6px;}

/* selectBox */
.selectBox {position: relative; width: auto; border: 1px solid #B1B8BE; border-radius: 4px;}
.selectBox::after {position: absolute; top: 50%; right: 10px; content: ' '; width: 14px; height: 14px; background: url(../img/ico_select_arr.svg) no-repeat center center; transform: translateY(-50%); transition: 0.3s all;}
.selectBox:focus-within::after {transform: rotate(180deg) translateY(50%); transition: 0.3s all;}

/* tblBox - margin */
.tblBox {width: 100%; overflow: auto clip;}
:where(.cntBox, .tblBox, .adBox, .pagination) + .titBox {margin-top: 40px;}
:where(.cntBox, .tblBox, .adBox, .pagination) + .tblBox {margin-top: 20px;}
:where(.cntBox, .tblBox, .adBox, .pagination) + .tblBox .tbl::before {background: #E2E6EA;}
.toggleBox + :where(.titBox, .tblBox) {margin-top: 20px;}
:where(.titBox, .tblBox, .pagination) + .toggleBox {margin-top: 40px;}
.btn-wrap + :where(.titBox, .tblBox) {margin-top: 40px;}

/* tblBox > tbl */
.tbl {position: relative; width: 100%; table-layout: fixed;}
.tbl::before {position: absolute; top: 0; left: 0; content: ' '; display: block; width: 100%; height: 1px; background: #58616A;}
.tbl.col tbody tr {border-bottom: 1px dashed #CDD1D5;}
.tbl.col.de tbody tr {border-bottom: 1px solid #CDD1D5;}
.tbl.col :is(th, td) {text-align: center;}
.tbl.row :is(th, td) {text-align: left;}
.tbl :where(th, td) {display: table-cell; vertical-align: middle; height: 40px; font-size: 14px; font-weight: 400; line-height: 1.4; box-sizing: border-box;}
.tbl tr {border-bottom: 1px solid #E2E6EA;}
.tbl tr td {padding: 5px 8px; color: #1E2124;}
.tbl thead th {padding: 8px 5px 6px 5px; text-align: center; color: #464C53; background: #f4f5f6;}
.tbl thead th:not(:last-child) {border-right: 1px solid #E2E6EA;}
.tbl tbody th {padding: 11px 15px 9px 15px; text-align: left; color: #8A949E;}
.tbl.row th {color: #464C53; background: #f4f5f6;}
.tbl.tL :is(th, td):not(.tC, .tR) {text-align: left;}
.tbl.tR :is(th, td):not(.tL, .tC) {text-align: right;}
.tbl.tC :is(th, td):not(.tL, .tR) {text-align: center;}
.tbl :is(th, td).top {vertical-align: top;}
.tbl :is(th, td).mid {vertical-align: middle;}
.tbl :is(th, td).bottom {vertical-align: bottom;}
.tbl.done::before {content: none;}
.tbl.done.col tbody tr {border-bottom: 1px solid #E2E6EA;}
.tbl span.red {color: #db4545;}

.tblBox .tbl + .tbl {border-top:1px solid #E2E6EA;}

/* 헤더 고정 */
.tblBox.fix {overflow-y:auto;}
.tblBox.fix .tbl {border-collapse: separate;}
.tblBox.fix .tbl thead {position:sticky;top:0;z-index:1;}
.tblBox.fix .tbl thead th {border-bottom:1px solid #E2E6EA;}
.tblBox.fix .tbl tbody td {border-bottom:1px dashed #CDD1D5;}
.tblBox.fix .tbl tbody tr:last-child td {border-bottom:0 none;}

/* tbl 내부 요소 */
.tbl .txtBox {display:block;}
.tbl td > .btn-wrap {display:flex;}
.tbl td.tC > .btn-wrap {justify-content: center;}

/* tblGrayColor */
.tbl.themeGray thead th {background:#EAEEF1;}
.tbl.themeGray tbody td {background:#F4F5F6;}

/* checkBox / radioBox - gap */
.chkBox, .rdoBox {display: flex; flex-wrap: wrap; align-items:center; gap: 8px 30px;}

/* checkBox / radioBox */
.tblChk {display: flex; justify-content: center; align-items: center; min-height: 25px;}
:where(input[type="checkbox"], input[type="radio"]) {display: none;}
:where(input[type="checkbox"], input[type="radio"]) + label {display: inline-flex; align-items: center; gap: 5px; font-weight: 500; line-height: 1.5; color: #464C53; cursor: pointer;}
:where(input[type="checkbox"], input[type="radio"]) + label::before {content: ' '; display: inline-block; width: 20px; height: 20px; background: #fff; border: 1px solid #B1B8BE; border-radius: 3px; box-sizing: border-box; transition: 0.3s all;}
:where(input[type="checkbox"], input[type="radio"]):checked + label::before {background: #6D4FFF url(../img/ico_chk_on.svg) no-repeat center center; border-color: #6D4FFF; transition: 0.3s all;}
:where(input[type="checkbox"], input[type="radio"]):disabled + label {color: #B1B8BE;}
:where(input[type="checkbox"], input[type="radio"]):disabled + label::before {background: #E6E8EA; border-color: #E6E8EA;}
:where(input[type="checkbox"], input[type="radio"]):checked:disabled + label::before {background: #E6E8EA url(../img/ico_chk_disa.svg) no-repeat center center;border-color: #E6E8EA;}

/* radioBox */
input[type="radio"] + label::before {border-radius: 50%;}
input[type="radio"]:checked + label::before {background: #6D4FFF url(../img/ico_radio_on.svg) no-repeat center center;}
input[type="radio"]:checked:disabled + label::before {background: #E6E8EA url(../img/ico_radio_disa.svg) no-repeat center center;border-color: #B1B8BE;}

/* btn-wrap Button */
.btn-wrap {display: inline-flex; justify-content: end; align-items: center; gap: 5px; width: 100%; height: auto;}
.btn-wrap.tC {justify-content: center!important;}
.btn-wrap.tL {justify-content: flex-start!important;}
.btn-wrap.tR {justify-content: flex-end!important;}
:where(.tblBox, .tabBox, .cont) + .btn-wrap {margin-top: 12px;}
button[class^="btn-"] {width: 30px; height: 30px; font-weight: 500; border: 1px solid #B1B8BE; border-radius: 4px; box-sizing: border-box;}
button[class^="btn-"].txt {width: auto;}
.btn {display: inline-flex; justify-content: center; align-items: center; min-width: 60px; height: 30px; padding: 5px 10px; text-align: center; font-weight: 500; line-height: 1.5; color: #464C53; background: #fff; border: 1px solid #929AA2; border-radius: 4px;}
.btn.pt {color: #fff; background: #3B80FF; border-color: #3B80FF;}
.btn.navy {color: #fff; background: #335682; border: 1px solid #335682; border-radius: 4px;}
.btn.blue {color: #5A7BA6; background: #fff; border: 1px solid #AABED7; border-radius: 4px;}
.btn-plus {line-height: 0.9; color: #fff; background: #fff url(../img/ico_plus.svg) no-repeat center center;}
.btn-plus.txt {padding: 5px 10px 5px 23px; background: #526980 url(../img/ico_plus_txt.svg) no-repeat center left 10px; border: none;}
.btn-del {background: #fff url(../img/ico_del.svg) no-repeat center center; border: 1px solid #B1B8BE;}
.btn-del.txt {width: auto; padding: 5px 10px 5px 28px; letter-spacing: -0.4px; color: #464C53; background-position: left 9px top 5px;}
.btn-save.txt {padding: 5px 10px 5px 23px; color: #fff; background: #3B80FF url(../img/ico_save.svg) no-repeat center left 9px; border-color: #3B80FF;}
.btn:where(.excel, .hwp, .pdf)::before {content: ' '; display: inline-block; width: 13px; height: 13px; margin: 0 4px 1px 0;}
.btn.excel::before {background: url(../img/ico_excel.svg) no-repeat center center;}
.btn.hwp::before {background: url(../img/ico_hwp.svg) no-repeat center center;}
.btn.pdf::before {background: url(../img/ico_pdf.svg) no-repeat center center;}
.btn.biz {color: #fff; background: #3B80FF; border-color: #3B80FF;}
.btn.biz::before {content: ' '; display: inline-block; width: 14px; height: 14px; margin-right: 4px; background: url(../img/ico_biz.svg) no-repeat center center;}
.btn.cnf {width: 45px; height: 27px; font-size: 13px; font-weight: 400; color: #6D7882; background: rgba(177, 184, 190, 0.20); border-radius: 4px; border: 0;}
.btn-preview {display: inline-flex; justify-content: center; align-items: center; gap: 5px; min-width: 100px; height: 30px; padding: 10px; text-align: center; font-size: 14px; font-weight: 400; line-height: 1.5; color: #fff; background: #58616A; border-color: #58616A!important; border-radius: 4px;}
.btn-preview::before {content: ' '; display: inline-block; width: 13px; height: 13px; background: url(../img/ico_apply.svg) no-repeat center center;}
.btn-reset {width: 30px; height: 30px; background: #fff url(../img/ico_reset.svg) no-repeat center center;  border: 1px solid #B1B8BE;}
.btn-reset.txt {display: inline-flex; align-items: center; gap: 6px; width: 60px; font-size: inherit; font-weight: 600; line-height: 1.5; color: #6D7882; background: #fff; border: none;}
.btn-reset.txt::after {content: ' '; display: block; width: 14px; height: 14px; background: url(../img/ico_reset.svg) no-repeat center center;}
.btn-sch[type="button"] {display: inline-flex; justify-content: center; align-items: center; gap: 2px; width: 70px; font-size: 15px; font-weight: 600; line-height: 1.5; color: #fff; background: #256EF4; border-color: #256EF4;}
.btn-sch::before {position: relative; top: 1px; content: ' '; display: block; width: 16px; height: 16px; background: url(../img/ico_sch.svg) no-repeat center center;}
.btn-close[type="button"] {position: absolute; top: 11px; right: 12px; width: 20px; height: 20px; background: url(../img/ico_close.svg) no-repeat center center; border: none;}
.btn.sch {min-width: 30px; background: #335682 url(../img/ico_sch.svg) no-repeat center center; border: 0;}
.btn.file::before {content: ' '; display: inline-block; width: 18px; height: 14px; background: url(../img/ico_btn_file.svg) no-repeat center center;}
/* 검색버튼 25.08.01 */
button.btn-apply {display: inline-flex; justify-content: center; align-items: center; gap: 5px; min-width: 100px; height: 40px; padding: 10px; text-align: center; font-size: 14px; font-weight: 400; line-height: 1.5; color: #fff; background: #6D4FFF; border-color: #58616A!important; border-radius: 4px;}
button.btn-apply::before {content: ' '; display: inline-block; width: 13px; height: 13px; background: url(../img/ico_apply.svg) no-repeat center center;}

button[class^="btn-control"] {width:28px;height:28px;border:0 none;background-color:#fff;background-repeat:no-repeat;background-position:center;background-size:contain;}
.btn-control-add-all {background-image:url(../img/ico_arrR_dbl.svg);}
.btn-control-add {background-image:url(../img/ico_arrR.svg);}
.btn-control-del {background-image:url(../img/ico_arrL.svg);}
.btn-control-del-all {background-image:url(../img/ico_arrL_dbl.svg);}

input[type="text"] ~ .btn-ipt {position: absolute; top: 50%; right: 55px; display: none; width: 16px; height: 16px; background: url(../img/ico_ipt_del.svg) no-repeat center center; border: 0; transform: translateY(-50%);}

/* file-upload */
.file {display: flex; justify-content: space-between; align-items: center; gap: 6px;}
.file .btn-wrap {flex: 1; flex-direction: column;}
.file-upload {flex:1 0 auto; position: relative; display: flex; justify-content: center; align-items: center; width: calc(100% - 36px); min-height: 70px; border: 1px dashed #8A949E;}
.file-upload ul {display: flex; flex-direction: column; gap: 6px; width: 100%; height: auto; max-height: 152px; padding: 10px; overflow-y: auto;}
.file-upload ul li {display: flex; align-items: center; gap: 5px;}
.file-upload ul li label {flex: 1; display: block; font-size: 14px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; min-height:26px; line-height:26px; padding-left:28px; background-repeat:no-repeat; background-position:0 center; cursor:pointer;}
.file-upload ul li :where(input[type="checkbox"], input[type="radio"]) + label {padding-left:0; background-position:25px center;}
.file-upload ul li :where(input[type="checkbox"], input[type="radio"]) + label::before {position: relative; top: 3px; margin-right: 33px; vertical-align: top;}
.file-upload ul li label.hwp {background-image: url(../img/ico_file_hwp.svg);}
.file-upload ul li label.pdf {background-image: url(../img/ico_file_pdf.svg);}
.file-upload ul li label.xls {background-image: url(../img/ico_file_xls.svg);}
.file-upload ul li label.doc {background-image: url(../img/ico_file_doc.svg);}
.file-upload ul li label.txt {background-image: url(../img/ico_file_txt.svg);}
.file-upload ul li label.zip {background-image: url(../img/ico_file_zip.svg);}
.file-upload ul li label.ppt {background-image: url(../img/ico_file_ppt.svg);}
.file-upload ul li label.bmp {background-image: url(../img/ico_file_bmp.svg);}
.file-upload ul li label.gif {background-image: url(../img/ico_file_gif.svg);}
.file-upload ul li label.jpg {background-image: url(../img/ico_file_jpg.svg);}
.file-upload ul li label.png {background-image: url(../img/ico_file_png.svg);}
.file-upload ul li label.tif {background-image: url(../img/ico_file_tif.svg);}
.file-upload ul li label.xml {background-image: url(../img/ico_file_xml.svg);}
.file-upload ul li label.html {background-image: url(../img/ico_file_html.svg);}
.file-upload ul li label.exe {background-image: url(../img/ico_file_exe.svg);}
.file-upload ul li label.mpg {background-image: url(../img/ico_file_mpg.svg);}
.file-upload ul li label.mp4 {background-image: url(../img/ico_file_mp4.svg);}
.file-upload ul li label.avi {background-image: url(../img/ico_file_avi.svg);}
.file-upload ul li label.etc {background-image: url(../img/ico_file_etc.svg);}
.file-upload .btn {height: 24px;}
.file-upload .txt-file {display: inline-flex; align-items: center; font-weight: 500; line-height: 1.5; color: #8A949E; cursor: default;}
.file-upload .txt-file::before {content: ' '; display: block; width: 20px; height: 22px; margin-right: 7px; background: url(../img/ico_file.svg) no-repeat center center;}

/* library - flatpickr */
.pickrBox {display: inline-flex; align-items: center; width: 260px;}
.pickrBox p {display: inline-block; margin: 0 1px; font-size: inherit; font-weight: 400; line-height: 1.5; color: #464C53;}

/* inputForm */
.inputForm {display: flex; align-items: center; gap: 10px; line-height: 1.5;}
.inputForm .btn-wrap {justify-content: flex-start; gap: 4px; width: auto;}
.inputForm > input[type="text"] {width: 700px;}
.inputForm > input[type="text"].sm {width: 200px;}
.inputForm + textarea {margin-top: 10px;}
.inputForm + .inputForm {margin-top: 5px;}
.inputForm .selectBox {min-width: 300px;}
.inputForm .selectBox.sm {min-width: 200px;}
.inputForm > p {min-width: 80px;}
.inputForm > em {font-style:normal;}

/* inputUnit */
.inputUnit {display:flex;align-items:center;gap:10px;line-height:1.5;}
.inputUnit > * {flex:0 0 auto;}
.inputUnit > input[type="text"] {flex:0 1 auto; width: 100%;}
.inputUnit.sm > input[type="text"] {width:100px;}

/* tab */
.tab {position: relative; width: 100%; margin-top: 60px;}
.tab::after {position: absolute; bottom: -1px; left: 0; content: ' '; width: 100%; height: 1px; background: #B1B8BE;}
.tab ul {display: inline-flex;}
.tab li button {position: relative; width: auto; min-width: 100px; height: 40px; padding: 5px 15px; text-align: center; font-size: 15px; font-weight: 400; color: #464C53; background: #fff; border: none; outline: 1px solid #D9E1F2;}
.tab li button.active {font-weight: 600; color: #256EF4; background: #F2F6FE;}
.tab li button.active::after {z-index: 1; position: absolute; bottom: -1px; left: -1px; content: ' '; width: calc(100% + 1px); height: 2px; background: #3B80FF;}
.tab li button:disabled {background:#ACABAB;color:#868686;}

/* tabCont */
.tabCont > li {margin-top: 24px;}
.tabCont > li:not(.active) {display: none;}
.tabCont .tblBox + .titBox {margin-top: 20px;}
.tabCont.top {margin-bottom:24px;}/* 상단 검색 영역 */

/* tabCont depth2 */
.tabCont .depth {margin-top: 0;}
.depth2 {display: flex; justify-content: flex-start; align-items: center; gap: 55px; width: 100%; height: 40px; padding: 5px 35px; background: #F2F6FE; border-bottom: 1px solid #D9E1F2;}
.depth2 button {position: relative; font-size: 15px; font-weight: 400; line-height: 1.5; color: #464C53; background: none; border: none; transition: 0.3s all;}
.depth2 button.active {font-weight: 600; color: #256EF4;}
.depth2 button.active::after {position: absolute; bottom: -8px; left: 50%; content: ' '; display: block; width: 100%; height: 2px; background: #256EF4; transform: translateX(-50%);}

/* depth2Cont */
.depth2Cont {margin-top: 20px;}
.depth2Cont > li:not(.active) {display: none;}

/* tabBox */
.tabBox {margin-top:60px;}
.tabBox > .tab {margin-top: 0;}
.tabBox .tabCont > li:not(.active) {display: none;}
.tabBox .tabCont > li {display: flex; align-items: flex-start; flex-wrap: wrap; margin-top: 0;}
.tabBox .tabCont > li .schList {width: 100%;}
.tabBox .tabCont .tabCont > li {margin-top: 24px;}
.tabBox .tabCont > li .titBox:first-child {margin-top:20px;}
.tabBox:first-child {margin-top:0;}
.pgtBox + .tabBox {margin-top:0;}

/* pagination */
.pagination {display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 24px;}
.page-navi {width: 28px; height: 28px; margin: 0 12px; background: #fff; background-repeat: no-repeat; border: 1px solid #CED6DD; border-radius: 4px;}
.page-navi:disabled {cursor: default;}
.page-navi.prev {background-image: url(../img/ico_prev.svg); background-position: center left 45%;}
.page-navi.prev:disabled {background-image: url(../img/ico_prev_dis.svg);}
.page-navi.next {background-image: url(../img/ico_next.svg); background-position: center right 45%;}
.page-navi.next:disabled {background-image: url(../img/ico_next_dis.svg);}
.page-links {}
.page-links a {display: inline-block; padding: 4px 10px; color: #464C53; font-weight: 400; line-height: 1.5; border-radius: 4px;}
.page-links a.active {font-weight: 700; color: #3B80FF; background: #ECF2FE;}
.page-links a:hover {text-decoration: underline;}
.pagination p {text-align: center; font-size: inherit; font-weight: 400; line-height: 1.5; color: #6F7F92;}
.pagination p + select {margin-left: 16px;}
.pagination select {width: auto; padding: 4px 34px 4px 12px; font-size: 13px; font-weight: 400; line-height: 1.5; color: #6F7F92; background: #fff url(../img/ico_select_arr.svg) no-repeat center right 12px; border: 1px solid #CED6DD; border-radius: 4px;}

/* txtBox */
.txtBox {display: inline-block; width: 100%; max-height: 150px; line-height: 1.5; overflow-y: auto;}

/**
 * schBox
**/
.schBox {position: relative; display: flex; justify-content: center; flex-direction: column; gap:12px; width: 100%; padding: 30px 250px 56px 0; margin: auto; font-size: 15px; font-weight: 700; line-height: 1.5; color: #1E2124;}
.schBox::after {position: absolute; bottom: 0; left: 50%; content: ' '; display: block; width: calc(100vw - 15px); height: 26px; background: #F4F5F6; border-top: 3px solid #E5E8EA; transform: translateX(-50%);}

/* schRow */
.schRow {display:flex; align-items:center; gap:6px; flex-wrap:wrap; width:100%;}

/* schTxt */
.schTxt {flex:1 0 auto;display: flex; align-items: center; gap: 14px; font-size: 14px;}
.schTxt > div {flex:1;position: relative;}
.schTxt input[type="text"] {width: 100%; height: 42px; padding: 10px 60px 10px 16px; font-size: inherit; font-weight: 700; line-height: 1.5; color: #131416; border: 2px solid #58616A; border-radius: 12px;}
.schTxt input[type="text"]::placeholder {font-size: inherit; color: #8A949E;}
.schTxt .btn-src {position: absolute; top: 50%; right: 0; width: 46px; height: 100%; text-align: center; font-size: inherit; font-weight: 500; line-height: 0.9; color: #fff; background: #58616A; border-color: #58616A; border-radius: 0 12px 12px 0; transform: translateY(-50%);}
.schTxt .btn-flt {display: inline-flex; align-items: center; gap: 9px; width: auto; height: auto; font-size: inherit; font-weight: 600; line-height: 1.5; color: #6D7882; background: transparent; border: none;}
.schTxt .btn-flt::before {content: ' '; display: block; width: 32px; height: 32px; background: url(../img/ico_filter.svg) no-repeat center center;}
.schTxt .btn-flt::after {content: ' '; display: block; width: 14px; height: 14px; background: url(../img/ico_select_arr.svg) no-repeat center center; transition: 0.3s all;}
.schTxt .btn-flt:hover {text-decoration: underline;}
.schTxt .btn-flt.on::after {transform: rotate(-180deg) translateY(0); transition: 0.3s all;}
.schTxt .btn-flt span {margin-left: -6px;}
.schTxt .btn-flt span.off {display: none;}


/* fltList */
.fltList {flex:0 0 auto;display:flex;gap:6px;width:calc((100% - 30px) / 6);}
.fltList button {position: relative; display: flex; align-items: center; width: 100%; height: 40px; padding: 8px 40px 8px 20px; font-size: inherit; font-weight: 600; line-height: 1.5; color: #1E2124; background: #F0F2F6; border: 1px solid #D1DAE2; border-radius: 12px;}
.fltList button::after {position: absolute; top: 50%; right: 20px; content: ' '; display: block; width: 14px; height: 14px; background: url(../img/ico_select_arr.svg) no-repeat center center; transform: translateY(-50%); transition: 0.3s all;}
.fltList li {flex:1 0 auto;}
.fltList li.on button {background: #D9DFEA;}
.fltList li.on button::after {transform: rotate(-180deg) translateY(50%); transition: 0.3s all;}
.fltList:has(li:nth-child(2)) {width:calc(((100% - 30px) / 6) * 2 + 6px);}
.fltList:has(li:nth-child(3)) {width:100%;}
.fltList:has(li:nth-child(3)) li {flex:0 1 auto; width:calc((100% - 30px) / 6);}

/* fltCont */
.fltCont {width:100%;}
.fltCont li:not(.on) {display: none;}
.fltCont li {display: flex; gap:2px 20px; position: relative; padding: 24px 20px; background: #fff; border: 1px solid #ddd; border-radius: 12px;}
.fltCont li > p { margin-top:-15px; font-size: inherit; font-weight: 600; line-height: 1.5; color: #1E2124;}
.fltCont li input {width: 351px; height: 40px;}
.fltCont .chkBox,
.fltCont .rdoBox {min-height:40px;}
.fltCont .pickrBox {gap: 8px; width: 320px; height: 40px;}
.fltCont .pickrBox input {height: 100%; border-radius: 6px;}
.fltCont .pickrBox input::placeholder {font-size: inherit;}
.fltCont .selectBox select {display:block;height:38px;}

/* fltOpt */
.fltOpt {flex:1 0 auto; display: flex; justify-content: space-between; align-items: center; gap: 15px; padding: 6px 18px 6px 20px; background: #fff; border: 1px solid #ddd; border-radius: 12px;}
.fltOpt ul {flex: 1; display: inline-block;}
.fltOpt ul li {display: inline-flex; align-items: center; gap: 3px; width: auto;}
.fltOpt ul li:not(:last-child) {margin-right: 20px;}
.fltOpt p {display: inline-block; font-size: 13px; font-weight: 400; line-height: 2; color: #464C53;}
.fltOpt > p {display: inline-flex; align-items: center; padding-left: 60px; margin: auto; text-align: center; font-size: 14px; font-weight: 500; line-height: 1.5; color: #8A949E;}
.fltOpt > p::before {content: ' '; display: inline-block; width: 12px; height: 12px; margin-right: 6px; background: url(../img/ico_bullet.svg) no-repeat center center;}
.fltOpt .btn-del {width: 16px; height: 16px; background: url(../img/ico_del_opt.svg) no-repeat center center; border-radius: 50%;}

/* schBtn */
.schBtn {display:flex;align-items:center;position:absolute;right:0;top:30px;bottom:56px;padding:0 40px 0 50px;border-left:1px solid #ddd;}

/* iptBox */
.iptBox {position: relative; display: flex; align-items: center; gap: 5px; width: 352px; height: 40px; padding: 4px 9px 4px 6px; background: #fff; border: 1px solid #B1B8BE; border-radius: 6px;}
.iptBox input[type="text"] {height: auto; border: 0;}

/* contBox */
.contBox {flex-wrap: wrap;}

/* contList */
.contList {position: relative; display: flex; justify-content: space-between; align-items: flex-start; width: 100%; gap: 100px;}
.contList > div {flex: 1; display: flex; align-items: flex-start;}
.contList > div + div::before {position: absolute; content: ' '; display: inline-block; width: 1px; height: 100%; margin-left: -50px; background: #ddd;}
.contList p {display: inline-flex; align-items: center; gap: 6px; margin-right: 17px; font-size: inherit; font-weight: 500; line-height: 1; color: #1E2124;}
.contList p::before {content: ' '; display: inline-block; width: 4px; height: 4px; background: #d9d9d9; border-radius: 50%;}
.contList ul {display: flex; justify-content: flex-start; align-items: stretch; flex-wrap: wrap; gap: 8px 6px; max-height: 106px; overflow-y: auto;}
.contList button {width: 112px; height: 100%; min-height: 29px; padding: 4px 5px; font-size: 13px; font-weight: 400; line-height: 1.5; color: #1E2124; background: #fff; border: 1px solid #CDD1D5; border-radius: 12px;}
.contList button.on {color: #256EF4; border-color: #256EF4;}
.contList button:focus-within {outline: none;}
.fltCont .contList li {flex: none; display: block; padding: 0; border: none;}

/* contList Type */
.type01 .contList > div:first-child {flex: none; width: 420px; padding-right: 20px;}
.contBox.type02  {align-items: flex-start; flex-wrap: nowrap;}
.type02 .contList {gap: 60px;}
.type02 .contList > div + div::before {margin-left: -30px;}
.type02 .contList > div:last-child {flex: none; width: 380px;}

/* span[badge Type01] */
.span {display: inline-block; width: auto; min-width: 51px; padding: 1px 4px; margin-left: 2px; text-align: center; font-size: 12px; font-weight: 400; line-height: 1.5; color: #464C53; background: #E8E8E8; border-radius: 4px;}
.span.orange {color: #895919; background: #F8EFDF;}
.span.blue {color: #2459A2; background: #E6F0FD;}
.span.green {color: #6D7B10; background: #F1F8DF;}
.span.cyan {color: #36795A; background: #E2F3F2;}
.span + .span {margin-left: 2px;}
.span:last-child {margin-right: 8px;}

/* badge[badge Type02] */
.badge {display: inline-block; width: auto; min-width: 35px; padding: 1px 4px; margin: auto; text-align: center; font-size: 12px; font-weight: 500; line-height: 1.5; color: #fff; background: #ACABAB; border: 0; border-radius: 4px;}
.badge.lg {width: 60px; padding: 0; letter-spacing: 0;}
.badge.pt {background: #4F9097;}
.badge.gray {background: #868686;}
.badge.orange {background: #DC984F;}
.badge.blue {background: #5D8CB0;}

/* schList */
.schList {margin-top: 24px;}
.schList .tblBox {border: 1px solid #CED6DD; border-radius: 6px;}
.schList .tbl::before {content:none;}
/* .schList .tbl:not(.de)::before {height: 100%; background: transparent; border: 1px solid #CED6DD; border-radius: 6px; box-sizing: border-box; pointer-events: none;} */
.schList .tbl tbody tr:last-child {border: none;}
.schList .tbl:not(.de) thead th {font-size: 14px; font-weight: 600; line-height: 1.5; color: #1E2124;}
.schList .tbl:not(.de) td {font-size: 13px; font-weight: 400; line-height: 1.5; letter-spacing: -1px; color: #6D7882;}
.schList .tbl td {padding: 7px 15px; text-align: left;}
.schList .tbl a {display: block; max-width: 100%; font-size: 14px; font-weight: 500; line-height: 1.5; color: #1E2124; letter-spacing: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

/* tblDb[double table] */
.tblDb {display: flex; justify-content: space-between; gap: 48px; margin: 60px 0 40px 0;}
.tblDb > li {flex:0 1 auto;width:100%;}
.tblDb .tbl td {font-size: inherit; font-weight: 500; line-height: 1.5; color: #464C53; letter-spacing: 0;}
.tblDb .tbl td .btn {min-width: 40px; height: 24px;}
/* 케이스 확인 필요(스타일 간섭 심함)
.tblDb .tbl td p {display: block; max-height: 105px; padding-right: 10px; font-size: inherit; font-weight: inherit; line-height: inherit; color: inherit; word-break: break-all; overflow-y: auto;}
*/

/* tbl Chk */
.tbl tr.on {background: #F0F2F6; transition: 0.3s all;}
.tbl tr.on :is(td, a) {color: #256EF4; transition: 0.3s all;}


/* tooltip */
.tooltipBox {display: flex; justify-content: center; align-items: center; width: 100%; background: #F4F5F6;}
.tooltip {display: inline-flex; align-items: center; gap: 5px; font-size: 14px; font-weight: 500; line-height: 1.5; color: #8A949E;}
.tooltip::before {content: ' '; display: inline-block; width: 12px; min-width: 12px; height: 12px; background: url(../img/ico_bullet.svg) no-repeat center center;}

/* map */
.mapBox {position: relative; border-top: 1px solid #ddd;}
.map {width: 100%; height: calc(100vh - 150px);}
.mapList {position: fixed; top: 130px; right: 0; bottom:0; width: 258px; padding: 10px 24px 24px 24px; box-shadow: -8px 0 12px rgba(0, 0, 0, 0.08); overflow-y: scroll;}
.mapList a {position: relative; display: flex; align-items: center; width: 100%; padding: 14px 0; font-size: 16px; font-weight: 400; letter-spacing: -0.8px; color: #1E2124; border-bottom: 1px solid #ddd;}
.mapList a::after {position: absolute; right: 9px; content: ' '; display: block; width: 20px; height: 20px; background: url(../img/ico_map_arr.svg) no-repeat center center; transition: 0.3s all;}
.mapList a.on::after {transform: rotate(-180deg);}
.mapList ul ul {display: grid; gap: 15px; padding: 14px 14px 16px 14px; background: #F7F7F8; border-bottom: 1px solid #ddd;}
.mapList ul a:not(.on) + ul {display: none;}
.mapList label {font-weight: 400;}

/* popup */
.popup {z-index: 4; position: fixed; top: 50%; left: 50%; display: none; width: 880px; background: #fff; border-radius: 12px; box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25); transform: translateX(-50%) translateY(-50%);}
.popup .tit {display: inline-flex; align-items: center; width: 100%; height: 42px; padding: 10px 27px; background: #256EF4; border-radius: 12px 12px 0 0;}
.popup .tit p {padding-top:4px; font-size: 19px; font-weight: 700; line-height: 1.5; color: #fff;}
.popup .cont {width: 100%; max-height: 500px; padding: 20px 27px 30px 27px; overflow-y: auto;}
.popup .sch {display: flex; align-items: center; gap: 20px; width: 100%; height: 70px; padding: 20px 25px; background: #F0F2F6;}
.popup .sch .selectBox {min-width: 180px;}
.popup .sch > div {display: flex; gap:10px; align-items: center;}
.popup .sch .btn-wrap {width: auto; margin-left: auto;}
.popup .sch p {font-weight: 600; color: #464C53;}
.popup > .btn-wrap {padding: 13px 28px 22px 27px; border-top: 1px solid #C6C6C6; border-radius: 0 0 12px 12px;}

/* popup small */
.popup.sm {width: 500px;}
.popup.sm .tit {padding: 5px 12px;}
.popup.sm .cont {padding: 20px 12px;}
.popup.sm > .btn-wrap {padding: 12px 13px;}

/* popup large : large팝업 임시사이즈 추가 */
.popup.lg {width: 1350px;}

/* popup subBox */
.popup .subBox {margin-top: 10px;}
.popup .subBox > p {display: block; text-align: center; font-size: 19px; font-weight: 700; line-height: 1.5; color: #1E2124;}
.popup .subBox ul {display: grid; gap: 6px; margin-top: 20px;}
.popup .subBox ul li {display: inline-flex; justify-content: space-between; align-items: center; padding: 12px 12px 12px 20px; background: #F4F5F6; border: 1px solid #CDD1D5; border-radius: 5px;}
.popup .subBox ul li p {font-size: 14px; font-weight: 400; line-height: 1.5; color: #1E2124;}
.popup .subBox ul li p b {font-weight: 700;}
.popup .subBox ul li p span {margin-left: 6px; font-size: 13px; font-weight: 400; line-height: 1.5; color: #6D7882;}
.popup .subBox ul li button {width: 80px;}
.popup .subBox .tooltip {margin-top: 10px; font-size: 13px; font-weight: 400; line-height: 1.5; color: #6D7882;}
.popup .subBox .tooltip::before {width: 15px; height: 15px; background: url(../img/ico_tooltip.svg) no-repeat center center;}

/* popup subBox : 안내 */
.popup .subBox.noti {padding-top:58px;background:url(../img/ico_msg_noti.svg) no-repeat 50% top;}

/* popup Content */
.popup .schList {margin: 0;}
.popup .tblBox .tbl {min-width: auto;}
.popup .tblBox .tbl td {font-size: 14px;}
.popup .pagination {margin-top: 12px;}
.popup .tooltip {font-size: 12px; font-weight: 600; color: #6D7882;}
.popup .titBox h3 {display: inline-flex; align-items: center; gap: 8px; padding: 0; background: transparent;}
.popup .titBox h3::before {content: ' '; display: inline-block; width: 5px; height: 5px; background: #256EF4; border-radius: 50%;}
.popup .tblBox + .titBox {margin-top: 16px;}

/* popup mapPopup */
.popup.mapPopup {width: 690px; padding: 25px 25px 20px 25px; border-radius: 6px;}
.popup.mapPopup .tit {height: auto; background: transparent; border-radius: 6px 6px 0 0;}
.popup.mapPopup > * {padding: 0;}
.popup.mapPopup > .btn-wrap {padding: 11px 0 0 0; border-radius: 0 0 6px 6px;}
.popup.mapPopup .btn-close[type="button"] {top: 25px; right: 25px; filter: brightness(0.6);}
.popup.mapPopup .cont {overflow-y: inherit;}
.popup.mapPopup .tab {margin-top: 0;}
.popup.mapPopup .tab ul {border-width: 1px 0 0 1px; border-style: solid; border-color: #D9E1F2;}
.popup.mapPopup .tabCont {padding-bottom: 25px;}
.popup.mapPopup .tabCont > li {display: flex; flex-direction: column; flex-wrap:nowrap; gap: 11px; max-height: 250px; padding: 24px 10px 0; overflow-y: auto;}
.popup.mapPopup .tabCont > li:not(.active) {display: none;}
.popup.mapPopup .tabCont p {font-size: 14px; font-weight: 400; line-height: 1.4; color: #1E2124;}
.popup.mapPopup > .btn-wrap .btn {height: 34px; padding: 5px 14px; border-color: #B1B8BE;}
.popup.mapPopup > .btn-wrap .btn::after {position: relative; right: -3px; content: ' '; display: inline-block; width: 7px; height: 10px; margin-left: 3px; background: url(../img/ico_map_btn.svg) no-repeat center center;}

/* dim */
.dim {z-index: 3; position: fixed; top: 0; left: 0; display: none; width: 100vw; height: 100vh; background: rgba(0,0,0,0.2);}

/* table Cell */
.tbl .cell {width: auto; border: 1px solid #D4DADF;}
.tbl .cell thead th {text-align: center; background: #E7E9EB; border-color: #D4DADF;}
.tbl .cell tbody th {background: #F4F5F6;}
.tbl .cell tbody td {padding: 5px 0; border-left: 1px solid #D4DADF;}
.tbl .cell .cellColor {display: block; width: 100%; height: 16px; background: #3B80FF;}

/* adBox */
.adBox {display: grid; gap: 20px; padding: 20px 30px 30px 30px; background: #F4F5F6; border: 1px solid #E2E6EA; border-radius: 4px;}
:where(.adBox, .tblBox) + .adBox {margin-top: 20px}
.adBox table {background: #fff; outline: 1px solid #E2E6EA; border-radius: 4px; table-layout: fixed; overflow: hidden;}
.adBox tbody tr:not(:last-child) {border-bottom: 1px dashed #CDD1D5;}
.adBox td {padding: 10px 0;}
.adBox td .btn-wrap {justify-content: flex-start; width: 65px; padding-left: 50px; box-sizing: content-box;}
.adBox > .title {display: flex; align-items: center;}
.adBox > .title .chk {margin-right: 9px;}
.adBox > .title .chk label {font-weight: 400;}
.adBox > ul > li {display: flex; align-items: center; padding: 10px 30px 10px 20px;}
.adBox .txt {flex: 1; display: flex; align-items: flex-start; flex-direction: column; gap: 0; width: 100%; height: 100%; min-height: 70px; max-height: 100px; padding: 10px; background: #fff; border: 1px solid #B1B8BE; border-radius: 4px; overflow-y: auto;}
.adBox .txt p {font-size: 14px; font-weight: 500; line-height: 1.8; color: #1E2124;}
.adBox .num {display: block; padding: 20px; font-size: 14px; font-weight: 500; line-height: 1.5; color: #464C53;}
.adBox :where(.total, .use) {display: flex; align-items: center; padding-left: 30px;}
.adBox :where(.total, .use) :where(input, .selectBox) {width: 120px; margin-left: 12px;}
.adBox .total input {text-align: right;}
.adBox .total p {display: block; margin-left: 7px; font-size: 14px; font-weight: 400; line-height: 1.5; line-height: 150%; color: #464C53;}
.adBox .total p span {color: #f00;}
.adBox .txtBox {flex: 1;}
.adBox .txtBox input {width: 100%;}
.adBox .txtBox input::placeholder {font-size: 14px;}
.adBox .score {display: flex; align-items: center; width: 517px;}
.adBox label {color: #464C53;}
.adBox :is(th, td).top {vertical-align: top;}
.adBox :is(th, td).mid {vertical-align: middle;}
.adBox :is(th, td).bottom {vertical-align: bottom;}

/* adBox de */
.adBox.de {padding: 13px 5px; border: 0; border-radius: 0;}
.adBox.de {border-top: 1px solid #58616A;}
.adBox.de + .adBox.de {border-top: 0;}
.adBox.de table {border: 0; outline: 0;}
.adBox.de tbody tr {border: 0;}
.adBox.de table td {padding: 6px 15px 6px 15px; background: #f4f5f6;}
.adBox.de td .btn-wrap {width: 100%; padding: 0;}

/* modal */
.modal {display:flex;flex-direction:column;box-sizing:border-box;height:100%;}
.modal .tit {display: inline-flex; align-items: center; width: 100%; height: 42px; padding: 10px 27px; background: #256EF4;}
.modal .tit p {font-size: 19px; font-weight: 700; line-height: 1.5; color: #fff;}
.modal .cont {flex:1 1 auto; box-sizing:border-box; width: 100%; height: 100%; padding: 20px 27px 30px 27px; overflow-y: auto;}
.modal .sch {display: flex; align-items: center; gap: 20px; width: 100%; height: 70px; padding: 20px 25px; background: #F0F2F6;}
.modal .sch .selectBox {min-width: 180px;}
.modal .sch > div {display: flex; align-items: center;}
.modal .sch .btn-wrap {width: auto; margin-left: 5px;}
.modal .sch p {margin-right: 10px; font-weight: 600; color: #464C53;}
.modal .schList > .tblBox .tbl {min-width: auto;}
.modal > .btn-wrap {padding: 13px 28px 22px 27px; border-top: 1px solid #C6C6C6;}

/* toggleBox */
.toggleBox {display: flex; justify-content: center; align-items: center;}
.toggleBox:not(.on) ~ :where(.titBox, .tblBox, .pagination, .tab, .tabCont):not(.toggle) {display: none;}
.toggleBox button {display: inline-flex; justify-content: center; align-items: center; gap: 5px; width: 200px; height: 40px; font-size: 16px; font-weight: 400; color: #fff; background: #3B80FF; border: 0; border-radius: 5px;}
.toggleBox button::after {content: ' '; display: inline-block; width: 16px; height: 16px; background: url(../img/ico_select_arr.svg) no-repeat center center; filter: invert(1); transition: 0.4s all;}
.toggleBox.on button::after {transform: rotate(-180deg); transition: 0.4s all;}
.toggleBox.on .toggleOn {display: none;}
.toggleBox:not(.on) .toggleOff {display: none;}

/* 2025.07.22 ~ */
/* 2025.07.22 keyword 연관 검색 */
.inputDiv {position:relative;}
.inputDiv .keywords {display:none;overflow-y:auto;box-sizing:border-box;position:absolute;top:100%;left:0;width:100%;max-height:300px;margin-top:4px;padding:4px;border:1px solid #b1b8be;border-radius:4px;background:#fff;z-index:1;}
.inputDiv .keywords button {display:block;width:100%;height:100%;padding:4px;border-radius:4px;text-align:left;border:0 none;background:none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.inputDiv .keywords button:hover,
.inputDiv .keywords button:focus {color:#256ef4;background:#f4f5f6;}
.inputDiv .keywords .empty {display:none;padding:16px 4px;text-align:center;color:#b1b8be;}
.inputDiv:focus-within .keywords {display:block;}


/**** 평가 ****/

/** 평가 - 평가계획등록 **/
.inpCol {display:flex;flex-direction:column;gap:4px;}/* input 세로 배열 */
.inpRow {display:flex;gap:4px;align-items:center;}

.inpDblRow {height:66px;}/* inpCol 2개 높이 */

.txtThYear {display:inline-block;margin-right:5px;font-weight:700;}
.txtThYear:empty {display:none;}

/** layout 세팅 **/
.layDbl {display:flex;align-items:center;gap:20px;}
.layDbl .schList {margin-top:0;}
.layDbl .midControl {flex:0 0 auto; display:flex; flex-direction:column; gap:5px; justify-content: center;}

/* 25.07.24 사업관리-상세 */
.info .tab {}
.info .tab button {outline-color: #D9E1F2;}
.info .tab button.active {color: #A957C5; background: #F7F2FE;}
.info .tab li button.active::after {background: #A957C5;}
.info .tabCont {width: 100%; max-width: 1280px; padding-top: 50px; margin: auto;}
.info .tabCont > li > div {width: 100%;}

/* info tit */
.itit p:not([class]) {display: block; margin-bottom: 13px; font-size: 13px; font-weight: 400;line-height: 1.5; color: #464C53;}
.itit p:not([class]) .span {height: 24px; font-size: 14px;}
.itit p.title {display: flex; align-items: center; gap: 20px; width: 100%; padding: 11px 23px; font-size: 28px; font-weight: 700; line-height: 1.5; color: #fff; background: #A957C5; border-radius: 4px;}
.itit p.title span {font-size: 14px; font-weight: 400;}

/* info box */
.ibox {margin-top: 50px;}

/* info box type1 */
.ibox.tp1 {margin-top: 35px;}
.ibox.tp1 .titBox {height: auto;}
.ibox.tp1 .lt {display: inline-flex; align-items: center;}
.ibox.tp1 .span {min-width: auto; padding: 1px 7px; font-size: 14px; font-weight: 400; color: #121212; border: 1px solid #A9A9A9;}
.ibox.tp1 .span:first-of-type {margin: 0;}
.ibox.tp1 ul {display: inline-flex; gap: 48px; margin-left: 13px;}
.ibox.tp1 ul li {position: relative; display: flex; align-items: center; gap: 9px; font-size: 16px; font-weight: 600; color: #464C53;}
.ibox.tp1 ul li:not(:first-child)::before {position: absolute; top: 50%; left: -25px; content: ' '; display: block; width: 1px; height: 18px; background: #D9D9D9; transform: translateY(-50%);}
.ibox.tp1 .rt {display: inline-flex; align-items: flex-end;}
.ibox.tp1 .rt p {font-size: 14px; font-weight: 500; line-height: 1.5; color: #464C53;}
.ibox.tp1 .rt b {margin: 0 15px 0 8px; font-size: 24px; font-weight: 400;}
.ibox.tp1 .rt strong {display: block; font-size: 25px; font-weight: 700; color: #1E2124;}
.ibox.tp1 .rt strong span {font-size: 20px; font-weight: 400;}
.ibox.tp1 .tblBox {padding: 30px 0; border-bottom: 1px solid #6A6A6A;}
.ibox.tp1 .tbl::before {top: -30px; height: 5px; background: #383838;}
.ibox.tp1 .tbl :where(th, td) {padding: 10px 0; text-align: left; font-size: 16px; font-weight: 600; line-height: 1.5; color: #1E2124; background: transparent; border: 0;}
.ibox.tp1 .tbl td {font-weight: 700;}
.ibox.tp1 .tbl tbody tr:last-of-type {border: 0;}

/* info box type2 */
.ibox.tp2 {display: flex; gap: 45px;}
.ibox.tp2 .lt {display: grid; gap: 20px; width: 1000px;}
.ibox.tp2 .lt p {line-height: 1.5; color: #1E2124;}
.ibox.tp2 .lt p:not([class]) {font-size: 16px; font-weight: 700;}
.ibox.tp2 .lt p.tit {font-size: 20px; font-weight: 500;}
.ibox.tp2 .lt p.sub {font-size: 15px; font-weight: 400; color: #6D7882;}
.ibox.tp2 .rt {flex: 1; display: flex; align-items: flex-end; flex-direction: column; gap: 3px; padding-top: 50px;}
.ibox.tp2 .rt span {display: inline-block; width: fit-content; padding: 1px 20px; font-size: 17px; font-weight: 700; line-height: 1.5; color: #fff; background: #AA57C5; border-radius: 2px;}

/* info box type3 */
.ibox.tp3 {display: flex; justify-content: space-between; align-items: center; padding: 30px 0 0 60px; border-top: 1px solid #E2E6EA;}
.ibox.tp3 .total {display: flex; gap: 85px;}
.ibox.tp3 .total :where(p, b, span) {line-height: 1.5; color: #1E2124;}
.ibox.tp3 .total p {display: block; margin-bottom: 7px; font-size: 18px; font-weight: 700;}
.ibox.tp3 .total b {display: block; font-size: 40px; font-weight: 700;}
.ibox.tp3 .total span {margin-left: 5px; font-size: 23px; font-weight: 400;}
.ibox.tp3 .chart {width: 550px; height: 230px;}

/* info box type3 */
.ibox.tp4 {border-top: 5px solid #383838;}
.ibox.tp4 > div {display: flex; gap: 55px; padding: 40px 0; border-bottom: 1px solid #6A6A6A;}
.ibox.tp4 .imgbox {width: 300px; height: 240px;}
.ibox.tp4 .imgbox img {width: 100%; height: 100%;}
.ibox.tp4 .biz {flex: 1;}
.ibox.tp4 .biz p {font-size: 14px; font-weight: 700; line-height: 1.5; color: #1E2124;}
.ibox.tp4 .biz a {display: block; max-width: 260px; margin-top: 11px; line-height: 1.5; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.ibox.tp4 .biz a::before {position: relative; top: -2px; content: ' '; display: inline-block; width: 24px; height: 24px; margin-right: 10px; vertical-align: middle;}
.ibox.tp4 .biz a.hwp::before {background-image: url(../img/ico_file_hwp.svg);}
.ibox.tp4 .biz a.pdf::before {background-image: url(../img/ico_file_pdf.svg);}
.ibox.tp4 .biz a.xls::before {background-image: url(../img/ico_file_xls.svg);}
.ibox.tp4 .biz a.doc::before {background-image: url(../img/ico_file_doc.svg);}
.ibox.tp4 .biz a.txt::before {background-image: url(../img/ico_file_txt.svg);}
.ibox.tp4 .biz a.zip::before {background-image: url(../img/ico_file_zip.svg);}
.ibox.tp4 .biz a.ppt::before {background-image: url(../img/ico_file_ppt.svg);}
.ibox.tp4 .biz a.bmp::before {background-image: url(../img/ico_file_bmp.svg);}
.ibox.tp4 .biz a.gif::before {background-image: url(../img/ico_file_gif.svg);}
.ibox.tp4 .biz a.jpg::before {background-image: url(../img/ico_file_jpg.svg);}
.ibox.tp4 .biz a.png::before {background-image: url(../img/ico_file_png.svg);}
.ibox.tp4 .biz a.tif::before {background-image: url(../img/ico_file_tif.svg);}
.ibox.tp4 .biz a.xml::before {background-image: url(../img/ico_file_xml.svg);}
.ibox.tp4 .biz a.html::before {background-image: url(../img/ico_file_html.svg);}
.ibox.tp4 .biz a.exe::before {background-image: url(../img/ico_file_exe.svg);}
.ibox.tp4 .biz a.mpg::before {background-image: url(../img/ico_file_mpg.svg);}
.ibox.tp4 .biz a.mp4::before {background-image: url(../img/ico_file_mp4.svg);}
.ibox.tp4 .biz a.avi::before {background-image: url(../img/ico_file_avi.svg);}
.ibox.tp4 .biz a.etc::before {background-image: url(../img/ico_file_etc.svg);}
.ibox.tp4 .biz ul {display: flex; justify-content: center; gap: 65px; width: 100%;}
.ibox.tp4 .biz ul:not([class]) {padding-right: 60px;}
.ibox.tp4 .biz ul:not([class]) li {flex: 1;}
.ibox.tp4 .biz-list {height: 102px; padding: 18px 52px 18px 45px; margin-top: 45px; background: #F5F5F5;}
.ibox.tp4 .biz-list p {text-align: center; margin-bottom: 10px; font-weight: 500; line-height: 1;}
.ibox.tp4 .biz-list li {position: relative;}
.ibox.tp4 .biz-list li:not(:first-child)::before {position: absolute; bottom: 7px; left: -33px; content: ' '; display: block; width: 1px; height: 26px; background: #D9D9D9;}
.ibox.tp4 .btn {height: auto; padding: 9px 20px; font-size: 14px; font-weight: 400; color: #1E2124; border-color: #D2D2D2; border-radius: 8px;}
.ibox.tp4 .btn.file {padding: 9px 26px;}


/* info btn-wrap */
.info .btn-wrap {justify-content: center; margin-top: 50px;}
.info .btn-wrap button.btn {min-width: 137px; height: 62px; padding: 10px; font-size: 18px; font-weight: 500; color: #fff; background: #212121; border: 0; border-radius: 6px;}


/* 그리드 버튼 */
button[class^=btnList] {display:inline-block;box-sizing:border-box;border:0 none;cursor:pointer;vertical-align:middle;}
.btnListFile{width:24px;height:24px;background:url(../img/ico_list_file.svg) no-repeat center;}

/* tip
 * 기본 right bottom
 * left, top 사용 가능
**/
.tipCont {display:none;position:absolute;left:100px;top:100px;min-width:210px;padding:16px 14px 14px;border:1px solid #464C53;border-radius:4px;text-align:left;background:#fff;filter:drop-shadow(0 2px 8px rgba(0,0,0,0.25));z-index:1;}
.tipCont::before {content:'';display:block;position:absolute;left:12px;bottom:100%;border:solid transparent;border-bottom-color:#464C53;border-width:0 5px 6px 5px;}
.tipCont::after {content:'';display:block;position:absolute;left:13px;bottom:100%;border:solid transparent;border-bottom-color:#fff;border-width:0 4px 4px 4px;}
.tipCont.top::before {bottom:auto;top:100%;border-bottom-color:transparent;border-top-color:#464C53;border-width:6px 5px 0 5px;}
.tipCont.top::after {bottom:auto;top:100%;border-bottom-color:transparent;border-top-color:#fff;border-width:4px 4px 0 4px;}
.tipCont.left::before {left:auto;right:12px;}
.tipCont.left::after {left:auto;right:13px;}

.tipCont .txtLi li {margin-bottom:5px;font-size:14px;line-height:1.5;color:#464c53;white-space:nowrap;}
.tipCont .txtLi li:last-child {margin-bottom:0;}

/* file list */
.fileList li + li {margin-top:4px;}
.fileList a {display:inline-block;overflow:hidden;padding:2px 0 1px 28px;font-size:14px;font-weight:500;text-decoration:underline;text-underline-position:under;color:#464646;background-repeat:no-repeat;background-position:left top;white-space:nowrap;text-overflow:ellipsis;}
.fileList .hwp {background-image:url(../img/ico_file_hwp.svg);}
.fileList .pdf {background-image:url(../img/ico_file_pdf.svg);}
.fileList .xls {background-image:url(../img/ico_file_xls.svg);}
.fileList .doc {background-image:url(../img/ico_file_doc.svg);}
.fileList .txt {background-image:url(../img/ico_file_txt.svg);}
.fileList .zip {background-image:url(../img/ico_file_zip.svg);}
.fileList .ppt {background-image:url(../img/ico_file_ppt.svg);}
.fileList .bmp {background-image:url(../img/ico_file_bmp.svg);}
.fileList .gif {background-image:url(../img/ico_file_gif.svg);}
.fileList .jpg {background-image:url(../img/ico_file_jpg.svg);}
.fileList .png {background-image:url(../img/ico_file_png.svg);}
.fileList .tif {background-image:url(../img/ico_file_tif.svg);}
.fileList .xml {background-image:url(../img/ico_file_xml.svg);}
.fileList .html {background-image:url(../img/ico_file_html.svg);}
.fileList .exe {background-image:url(../img/ico_file_exe.svg);}
.fileList .mpg {background-image:url(../img/ico_file_mpg.svg);}
.fileList .mp4 {background-image:url(../img/ico_file_mp4.svg);}
.fileList .avi {background-image:url(../img/ico_file_avi.svg);}
.fileList .etc {background-image:url(../img/ico_file_etc.svg);}

/* 범례 */
.legendLi {display:flex;gap:20px;}
.legendLi li {position:relative;padding-left:25px;font-size:13px;line-height:18px;color:#484b51;}
.legendLi li::before {content:'';display:block;position:absolute;left:0;top:0;width:19px;height:19px;border-radius:50%;background:#868686;}
.legendLi li.pt::before {background-color:#4f9097;}
:where(.rt) .legendLi {display:inline-flex;vertical-align:middle;}